<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/showusers.css">
</head>
<body>
    <table>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <% for(user of users) { %> 
    <tr>
        <td><%=user.id %></td>
        <td> <%=user.username%></td>
        <td><%=user.email%></td>
        <td>
        <form method="GET" action="/user/<%= user.id %>/edit">
            <button>Edit username</button>
        </form>
        
        </td>
    </tr>
<% } %>
    </table>
</body>
</html>

